<div class="bg">
    <div class="caption">
        <h1> Diangosans </h1> <br>
    </div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <button mat-raised-button color="accent" (click)="gotoBMI()"> BMI </button>
            </div>

            <div class="col-md-1">
                <button mat-raised-button color="primary" (click)="gotoHistory()">History</button>
            </div>

            <div class="col-md-1">
                <button mat-raised-button color="warn" (click)="gotoBenefit()"> Benefits </button>
            </div>

            <div class="col-md-1">
                <button mat-raised-button color="accent" (click)="gotoWhyYoga()"> Why Yoga </button>
            </div>

            <div class="col-md-1">
                <button mat-raised-button color="primary" (click)="gotoYogaclass()">  Yoga class </button>
            </div>

            <div class="col-md-1">
                <button mat-raised-button color="warn" (click)="gotolearnYoga()"> Learn Yoga </button>
            </div>

            <div class="col-md-1">
                <button mat-raised-button color="accent" (click)="gotoyogatypes"> Yoga Types </button>
            </div>
            
            <div class="col-md-1">
                <button mat-raised-button color="primary" (click)="dait"> Diet </button>
            </div>

        </div>
    </div>

</div>
</div>
