<div class="bg">
    <div class="caption">
        <h1> Diangosans </h1> <br>
    </div>
</div>
<hr>
<div>
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <button mat-raised-button (click)="gotoBMI()"> BMI </button>
        </div>
        <div class="col-md-1">
            <button mat-raised-button color="primary">2</button>
        </div>
        <div class="col-md-1">
            <button mat-raised-button color="accent">3</button>
        </div>
        <div class="col-md-1">
            <button mat-raised-button color="warn">4</button>
        </div>
        <div class="col-md-1">
            <button mat-raised-button>5</button>
        </div>
        <div class="col-md-1">
            <button mat-raised-button color="primary">6</button>
        </div>
        <div class="col-md-1">
            <button mat-raised-button color="accent">7</button>
        </div>
        <div class="col-md-1">
            <button mat-raised-button color="warn">8</button>
        </div>
    </div>
</div>

</div>