<h5>Although the terms “overweight” and “obese” are similar,<br>
 the difference between the two arises with Body Mass Index (BMI).<br>
  BMI is a measure of body fat based on an individual’s weight in relation to his or her height and age.<br>
   In general, a person with a BMI of 25-29.9 is considered overweight,<br>
    while a person with a BMI over 30 is considered obese.<br>
</h5>

<h3>a person with a BMI of 25-29.9 is considered overweight, while a person with a BMI over 30 is considered obese.</h3>
<br><h3>Causes</h3>
<h5>Although there are genetic, behavioral, metabolic and hormonal influences on body weight, <br>
obesity occurs when you take in more calories than you burn through exercise and normal daily activities.<br>
 Your body stores these excess calories as fat.<br>

Most Americans' diets are too high in calories — often from fast food and high-calorie beverages. <br>
People with obesity might eat more calories before feeling full, feel hungry sooner,<br>
 or eat more due to stress or anxiety.<br>other<br><br>
 Pregnancy- <br>
 Weight gain is common during pregnancy. Some women find this weight difficult to lose after the baby is born. This weight gain may contribute to the development of obesity in women.<br>
  Breast-feeding may be the best option to lose the weight gained during pregnancy.<br>

 Lack of sleep-<br>
 Not getting enough sleep or getting too much sleep can cause changes in hormones that increase <br>
 your appetite. You may also crave foods high in calories and carbohydrates, <br>
 which can contribute to weight gain.<br>
 Stress-<br>
  Many external factors that affect your mood and well-being may contribute to obesity.<br>
   People often seek more high-calorie food when experiencing stressful situations.<br>
 Microbiome-<br>
 Your gut bacteria are affected by what you eat and may contribute to weight gain or
  difficulty losing weight.<br>
 Previous attempts to lose weight-<br>
  Previous attempts of weight loss followed by rapid weight regain may contribute to further weight gain. <br>
  This phenomenon, sometimes called yo-yo dieting, can slow your metabolism<br>
  </h5>



 <h3>Diet
 <a href="https://www.hsph.harvard.edu/obesity-prevention-source/obesity-causes/diet-and-weight/">
see also</a></h3><br>
<h5>Breakfast: Seven-grain hot cereal with Greek yogurt, goat cheese and fig preserves<br>
Lunch: Grilled chicken pitas with sesame drizzle<br>
Dinner: Seared salmon salad with beets and blackberries<br>
Snacks: Beet chips, rosemary roasted almonds, vegetables with pesto yogurt dip<br>
Clean Eating</h5>

 <br>
 <h3>
     yogasan for get wieght normal
 </h3><br>
 <h6>
 1. Wind Relieving Pose (Pawanmuktasana): Lie upright on a yoga mat. Keep your legs unbent. Bend your knees and raise the thighs up towards the abdominal muscles. Hold the knees tightly in your hands. Slowly, extend the leg back on the floor. Now, again bend the left knee and stretch the right leg along the ground. Repeat the movement 5-10 times with both the legs for the same length of time.
 <br><br>2. Cow Face Pose (Gomukhasana): Sit tall on the floor with extended legs in front. Bend the left knee and place the left leg under the right hip. Fold the right leg and rest it on top of the left thigh. Keep the knees of both the legs close to each other. Take the left arm behind and place at the center of the back. Extend the right arm up, bend it over the shoulders and reach behind. Try to lock the fingers of both the hands. Hold this pose for 30 seconds.
 <br><br>3. Seated Forward Fold ( Paschimottanasana): Sit on the ground with erect spine and legs. Toes should be flexed and palms on the floor. Inhale and stretch your arms as high as possible. Exhale and bend forward at the hips while keeping the spine straight. As you hinge forward, bring your arms down and try to touch the feet. Rest the forehead over the thighs. You can close your eyes if you want. Hold this posture for 30-60 seconds.
 <br><br>4. Diamond Pose (Vajrasana): Kneel on a yoga mat with feet together. Sit back on your heels such that your hips rest on the heels and thighs on calf muscles. Keep your arms on your knees, palms down. Set your focus on an unmoving point in a forward direction. Be aware of your breathing. Hold this pose for 20-25 seconds.
</h6>

