<p>afteryoga works!</p>
<h1>What to eat after yoga  … </h1>
<h3>

        Having a balanced, satisfying meal or snack with some carbohydrates, proteins, and fats will help re-fuel your mind and body. Here, our experts make some suggestions for how to refuel after you’ve gotten your flow on:

        Choose carbs plus protein. After yoga, especially if it's a vigorous flow, you'll want to refuel with a meal or snack that has a 3-to-1 ratio of carbohydrates to protein, which can help repair muscle tissues and restore energy levels, says Lydon. Some of her favorite post-yoga snacks include a Greek yogurt parfait with fruit, nuts, and granola; a quinoa bowl with veggies, tofu, or legumes; or a smoothie with frozen wild blueberries, banana, mint, Greek yogurt, and kefir or silken tofu.

        See also Kathryn Budig's Easy Recipe for Coconut Almond Butter Pancakes

        About the Author

        Gina Tomaine is a Philadelphia-based writer and editor. She is currently Deputy Lifestyle Editor of Philadelphia magazine, and previously served as Associate Deputy Editor of Rodale’s Organic Life. She’s been published in Prevention, Women’s Health, Runner’s World and more. Learn more at ginatomaine.com.
</h3>
