
<!--html>
    <h1>yoga classes</h1>
<body bgcolor="pink">
</body>
</html-->
<div class="bg">
    <div class="caption">
       <h1>Welcome to Yoga classes</h1>>
     </div>
</div>




<!--div class="container">
        <div class="row">



        <!--div>
            <div class="container">
                <div class="row"-->
                    <!--div class="col-md-1">
                    <a class="sidenav">

                        <button mat-raised-button color="accent" (click)="gotoBMI()"> BMI </button>
                    </div>
                    </div>
                    </div-->



    <div class="sidenav">
    <div href="#" (click)="gotoonline()">Online </div>
    <br>
    <div href="#" (click)="gotofreeclasses()">Free</div>
    <br>
    <div href="#" (click)="gotosearch()">Search</div>
    <br>
    <div href="#" (click)="gotocontacts()">Contacts</div>
  </div>

  <!-- Page content -->
  <div class="main">
    ...
  </div>