

<html>

<body>


    <h4> That Every Beginner Should Know output</h4> <br>
    <!-- <img src="a.png"> -->
    <h5 class="text">
        Yoga asanas are the simplest and the easiest way to reduce our excess weight and meditating our body and mind.
        The ancient practice types of yoga asanas provide a wide range of mind and body benefits, including other
        benefits like giving strength and flexibility, stress relief and even cure many diseases.

        Basically yoga is all about stretching our body in different forms and meditation. Yoga Poses like Surya
        namaskar (Sun Salutation), Dhanurasana (Bow pose), Bhujangasana (Cobra pose), Kapalabhati pranayama yoga and so
        many other effective yoga asanas helps in reducing our weight as well as our belly fat.

        Patience is the key to doing Yoga. A strong perseverance backed by passion to do yoga is a must. Hard work,
        dedication and proper diet can lose our weight naturally. Losing weight is not hard but we have to keep in mind
        that only controlling eating habits is not enough to lose weight. The article contains yoga pose names as well
        as yoga for beginners. It is all about doing them!
    </h5><br>

        <h3>Men and women prefer yoga for a healthy life. Here we explain benefits of yoga.</h3>
        <h5>
         1. Slow Stretching Yoga Asana For Neck:
        <br>
        To start with yoga asanas, one should get started with the basic exercises first like slow neck stretches. It is
        recommended to perform few repetitions of this yogic slow neck stretches as it eases the neck tension and
        strain. This basic yoga pose can be easily done standing anywhere, just by sitting on your chair!
        <br>2. Full Body Yoga Tadasana – The Mountain Pose:
        <br>
        Tadasana is also known as mountain pose and it is one of the best yoga asanas. Practicing this yogasana
        regularly every morning gives a good massage to our hands, back, spine and the whole body. This is the most
        recommended asana for increasing height as well.
        <br>3. Standing Forward Fold Pose (Uttanasana Yoga):
        <br>
        Uttanasana is a forward bending pose which relieves us from stress and anxiety. With the arm bind, this standing
        forward bend variation provides a deep shoulder stretch. By binding the hands, it also allows the arms to
        stretch and tighten the shoulders to relax. It also brings some blood back to the brain while giving a great
        stretch to the legs.
        <br>4. The Triangle Pose (Trikonasana Yoga):
        <br>
        This trikonasana exercise is stretches and strengthens the muscles along with improving the functions of our
        body. This is a good yoga exercise for pregnant women. It helps in reducing blood pressure, stress and anxiety
        and also improves the functions of the blood through the entire body. This simple yoga asana improves our
        balance & concentration power. This asana also removes fats from waist and thighs.
        <br>5. Bow Pose (Dhanurasana Yoga):
        <br>
        Dhanurasana is very effective in weight loss program. This yoga pose helps in reducing the belly fat very
        easily. It strengthens the ankles, thighs, groins, chest and abdominal organs and spinal cord. This yoga posture
        improves the functions of kidney, pancreas, liver, small and big intestine. It also acts as a stress reliever
        and gives flexibility to the back. It improves the function of digestion and removes gases.
        <br>6. Surya Namaskar (Sun Salutation):
        <br>
        A full round of Surya namaskar is considered to be two sets of the twelve poses, with a change in the second set
        where the opposing leg is moved first. It improves flexibility, strength, balance, reduces stress and anxiety,
        reduces symptoms of lower back pain, shortens labour and improves birth outcomes, and reduces sleep disturbances
        and hypertension. It also increases energy and decreases fatigue and are very beneficial for asthma & chronic
        diseases. This is a basic yoga asana to stretch your legs and reduce weight.
        Read More: Surya Namaskar Steps
        <br>7. Kapalbhati Pranayama Yoga Pose:
        <br>
        Kapalbhati pranayama yoga is the most recommended breathing exercise which cures our stomach disorder and loses
        weight. Practising 5 minutes kapalbhati pranayama regularly removes the toxins and increases metabolism. It also
        cures constipation, acidity, diabetes, Asthma and all kinds of Respiratory troubles, sinus and even hair loss.
        This one is a yoga pose effective in weight loss (mainly belly fats). When done regularly, it is rated as the
        most effective type of yoga asana.
        <br>8. Bound Angle Pose – Baddha Konasana Yoga For Beginners:
        <br>
        This yoga asana for beginners helps to open up the hips and ease sciatica discomfort that can be made worse by
        sitting for long periods. The sciatic nerve starts in the lower back and runs down both leg, and sciatic nerve
        pain can occur when the nerve is somehow compressed. Long commutes and sitting for long periods of time
        exacerbates it.
        <br>9. Relaxing Yoga Asana (Eagle Twist Yoga):
        <br>
        This yoga asana helps in relaxing and it also an excellent way to increase side-to-side spinal flexibility. With
        regular practice of this yoga exercise every day one can relieve pain in the lower belly and lower back.
        <br>10. Headstand Pose (Sirsasana Yoga Pose):
        <br>
        Doing this yoga pose, can cure insomnia (sleeping disorder), spine problems and also improves concentration
        powers & mental balance. It increases the blood circulation in brain and improves the brains functions and
        memory. Even people suffering from liver disease, poor blood circulation and headache should perform this yoga
        asana regularly.
        <br>11. Sarvangasana (Shoulder Stand):<br>
        This yoga posture strengthens and cures back pain, and improves resistance power of the body. This also keeps
        our face bright and removes dark circle. It helps in weight loss when practiced on a regular basis. It is also
        known to improve blood circulation, functions of digestion, controlling the blood sugar level and correcting the
        improper functioning of pancreas.
        <br>12. Paschimottanasana (Forward Bend Pose):
        <br>
        Paschimottanaasana covers the stretching of the whole body from our head to heels. This asana is recommended
        especially for women after delivery to reduce belly fat and toning the abdominal pelvic organs. It strengthens
        the back muscles as well as very useful for increasing height. It stretches the spine and brings more
        flexibility in our body.
        <br>13. Plough Pose (Halasana Yoga Pose):
        <br>
        Halasana is also known as Plough pose which strengthens our back muscles and gives flexibility. It cures
        indigestion and constipation as well as reduces stress. It stimulates the abdominal organs and cure abdominal
        problems. People suffering from diabetes should do this regularly. It helps to make spinal cord strong and
        flexible, strengthens the abdominal muscles, reduces stress, and cures the symptoms of menopause.
        <br>14. Ardha Halasana (Half Plough Pose):
        <br>
        Half Plough Pose is a yoga asana that is similar to Uttanpadasana which is good for improving the functions of
        abdominal organs. This easy yoga asana stimulates abdominal organs very fast and cures constipation and
        indigestion. It also reduces belly fats and tones the thigh and hip muscles overall abdominal muscles. It cures
        stomach disorders and improves digestion, appetite, removes gases and is useful to cure arthritis and lumbar
        spondylitis.
        <br>15. Bhujangasana (Cobra Pose):
        <br>
        Bhujangasana (cobra pose) gives an excellent result for those who want to lose weight and increase metabolism.
        This pose improves the function of liver, kidney, pancreas and gall bladder. It cures insomnia (sleeping
        disorder), spine problems, indigestion and constipation naturally. Those suffering from liver disease, headache,
        poor blood circulation, can be cured with this asana.
        <br>16. Pavanamuktasana (Wind Removing Pose):<br>
        Pavanamuktasana is really effective yoga position in removing gases from the stomach and improving the digestive
        system. This asana is very good for all the abdominal organs; it also cures acidity and reduces fat. It
        strengthens your back muscle and cures back pain. For getting a flat stomach, one should perform this asana on a
        regular basis. This is one of the simplest yoga poses for beginners.
        <br>17. Uttana Padasana (The Raised-Leg Pose):
        <br>
        Uttana padasana, the raised leg pose is beneficial for those having back pain and stomach disorder. It is good
        for strengthening the abdominal muscles. We can practice this yoga asana by raising one leg at a time as well.
        For getting flat and strong abs, this asana works like magic. It is helpful for those who suffer from gas
        problems, arthritis pain, heart problems and waist & back pain.
        <br>18. Setu Bandhasana Yoga Pose (Bridge Pose):
        <br>
        We generally tend to forget about doing any exercise for strengthening our legs as we care more on our upper
        body part appearance. But we spend most of the hours on our legs only, so we should start workout meant for
        strengthens our legs. This yoga pose, setu bandhasana strengthens the legs, back neck and chest. It provides
        great balancing power to our body.
        <br>19. Vajrasana (Diamond Pose):
        <br>
        Vajrasana is the simplest of all the asanas of yoga which can be practiced after lunch or dinner as well.
        Vajrasana is also known as ‘diamond pose’ which is best for practicing breathing exercises and meditation.
        Person suffering from joint pain should avoid this asana. This yogaasana calms the mind and bring stability in
        mind, cures constipation, stomach disorder, acidity, and increases digestion process. Those suffering from gas
        problems can practice it immediately after lunch or dinner. This asana acts as a pain killer for arthritis
        patients.
        <br>20. Half Twist Pose (Matsyendrasan):
        <br>
        Ardha matsyendrasana increases oxygen supply to the lungs and increases the flexibility & the functions of
        vertebrae of the spine. It also stretches the back muscles and spine and releases stiffness of hip joints. It is
        one of the perfect yoga pose which is also helpful in the treatment of diabetes, constipation, spinal problems,
        cervical spondylitis, and urinary tract disorder.
        Read More: Pranayama Benefits
        <br>21. Ananda Balasana (Happy Baby Pose):
        <br>
        Happy Baby asana of yoga for beginners as well. This yoga asana provides an excellent stretch for the hip
        joints, which can get stiff from too much sitting. This pose is mentally calming while physically stimulating
        which makes it a perfect exercise for a day when we have a lot on our schedule. This pose will elongate the
        lower back and allow the hips to stretch. It is one of the basic yoga asanas to do.
        <br>22. Balasana (Child’s Pose):
        <br>
        This yoga pose is very simple yet calming pose which we can do in bed too. It is an excellent yoga exercise for
        those suffering from back pain as it stretches and relaxes the spine. It also stretches and strengthens muscle
        of hips, thighs and ankles. Pregnant women and those suffering from high blood pressure should avoid doing
        Balasana.
        <br>23. Shavasana (Corpse Pose):
        <br>
        This asana is all about lying down like a corpse. This yoga asana is quite versatile asana and doing it before
        bed helps in emptying your thoughts so they don’t keep you up or night, or use the time in the morning to set an
        intention for the day ahead. This is one of the best yoga postures that will helps you de-stress from all the
        tension you hold, so that we can have a good tight sleep.
        <br>24. Virabhadrasana (Warrior Pose):
        <br>
        This pose looks like a soldier in the position of war so it is called as Virabhadrasana (Warrior Pose). This is
        an excellent yoga position for pregnant women which gives flexibility to the entire body and strengthens the
        legs, arms, lower back and tones the lower body. It also helps in increasing the stamina, concentration power
        and balance of our body. It relieves us from the pain during menstrual period.
        <br>25. Ustrasana (Camel Pose):
        <br>
        While performing this pose our body looks like the shape of camel so it is called as Ustrasana. This yoga asana
        is especially good for back problem, relaxing mind, blood circulation, respiratory system, endocrine and nervous
        system. It helps to increase chest size and lungs capacity, brings flexibility in chest, abdomen and neck. It is
        beneficial for asthma patient and helps in reducing fats from the stomach.
        <br>26. Garudasana (Eagle Pose):
        <br>
        This asana may look like a lot of twist and turnings exercise but it is not that hard to perform. With regular
        practice of this yoga posture it helps in reducing extra fats in the thighs & arms. It also improves the balance
        of our body.
        27. Natarajasana (Lord Of The Dance Pose):
        <br>
        This is one of the most excellent yoga asanas for both men and women. Natarajasana is also known as lord of
        dance pose as it resembles its posture. This pose helps to improve the balance of the body, concentration. It
        strengthens the muscles of hip, thighs and chest. It also helps in reducing weight and improves our posture and
        balance.
        28. Naukasana Posture (Boat Pose):
        <br>
        This asana is also called as boat yoga pose. Basically, naukasana helps to strengthen the lungs, liver and
        pancreas. This also helps to increase the circulation of blood and maintain the sugar level. It strengthens the
        muscles of thigh, hips, necks and shoulder and helps in reducing belly fats. It also improves the functioning of
        kidney, thyroids and the prostate glands.<br>
        29. Marjariasana (Cat Pose):

        This cat pose is an excellent stretch in yoga workout. It produces flexibility in our spine and releases us from
        back pain. It improves our blood circulation and digestion power. This workout is one of the best yoga pose and
        also tones our abdomen and helps in relaxing our mind. Take a look at the yoga photo above to get a clear
        picture.
        30. Utthita Hasta Padangusthasana (Extended Hand To Toe Pose):

        This asana is good for stretching the body parts but we should not stretch beyond our capacity. This asana gives
        a good massage to our spine, lower back, hips, legs & hands. It also helps in reducing the fats in the specified
        areas of the body.
    </h5><br>



<h3 class="text justify-content-center">Physical Benefits of Yoga Pose</h3>


<br><h5>

The necessary glandular system is controlled so the right quantities of the various hormones are secreted from all the glands within the body. This has repercussions on our physical well-being moreover as on our cognition towards life. Though one organ is out of whack, a plain loss in health could also be old. Therefore, it is important that this method is maintained in peak condition. Morbid organs will be repaired, rejuvenated and inspired to hold out their traditional duty through regular practice of Asanas. The muscles and bones, nerves, glands, metabolism, emission and circulatory systems are coordinated in order that they assist each other. Asanas build the body’s versatile and able to alter itself simply to changes of surroundings. To summarize, we will say that Asanas maintain the chassis at an optimum state and motivate an unhealthy body to become healthy.

</h5><br><h3>Mental Benefits of asana (yoga pose)</h3><br><h5>

Asanas make our mind strong and give the power to endure pain and unhappiness. By this, the power of determination and concentration are developed. Equilibrium, what’s more, essentialness turns into the ordinary perspective after the customary routine of Asanas. You will be able to face the sorrow, pressure, and obstacles of the world with peace, without being disturbed.

</h5><br><h3>Spiritual Benefits of asana (yoga pose)</h3><br><h5>

Asana (yoga pose) is a unit nearly a necessity for religious aspirants to awaken their psychic schools.

Asanas ought to be considered the sorts of meditation and psychic purification. Yogasanas ought to be schooled within the complete manner delineate within the tantras, with attention to the relating focuses incorporated into the takeover.
</h5>

</body>
</html>