<p>freeclasses works!</p>




<h4>
Free Yoga Classes In Patanjali Yogpeeth

Free Yoga classes are conducted in the premises of Patanjali Yogpeeth by trained Yoga Instructors at one hour interval.

Yoga Science Camps

People below poverty line are permitted to participate in the Residential and Non-Residential Yoga Science Camps held in towns and cities of India from time to time in the benign presence of Yogrishi Swami Ramdevji Maharaj.

Free Yoga Classes through Patanjali Yog Samiti

Fifty thousand free Yoga classes by about twenty million dedicated and trained Yoga teachers take place everyday in nook and corner of India. About two million Yoga teachers have been engaged in training & teaching of people in East Africa, South Africa, U.S.A., Canada, U.K., Nepal & Mauritius

</h4>



About//////////
<h5>

Acharya Balkrishna a dynamic personality is the Founder Secretary of Patanjali Yogpeeth Trust. He is managing the clusters of Patanjali units and sub-units and also providing meaningful directions for better performance in coordination and liaison with the concerned heads of those units. He possesses all those qualities which makes him different from others. The most admirable quality of him is to listen patiently, talk less and work more in the interest of general masses. He is silent worker with sober behavior.

Born on 25th of July 1972 in a poor family and by virtue of his country side background and having a distinct quality of thoughts to serve the humanity, Acharya Balkrishna got a lineage in the flora and fauna right from his childhood.

He finished his earlier education in a Gurukul at Kalwa (Jind, Haryana) under the guidance of Late Acharya Shri Baldevji. After doing his preliminary education in Guru-Shishya Prampara , he never looked behind and today he is a great visionary, Guiding force, highly ascetic, energetic, diligent, simple, easy-going and a versatile person with multi- dimensional skills who is whole heartedly engaged in the service of mankind from the core of his heart.

Acharya Balkrishna ji is a great scholar of Ayurveda, Sanskrit and the Vedas and well versed with Sāṅkhya Yoga, Ayurveda, Sanskrit language, Pāṇini’s Aṣṭādhyāyī, Vedas, Upaniṣads and rich Indian cultural Philosophy. He is the Flag Bearer of ancient lifestyle tradition & natural healings and has made Ayurveda culture and traditions acceptable by one and all in these modern days and became a Role Model to the youngsters. His unimpeachable contribution in the field of Characterisation of Medicinal plants, indigenous medicine identification, authentication at national & international levels speaks high of him.

He Explored ‘Sanjeevani’, ‘Soma’, ‘Swarnakshiri’, ‘Swarnadraka’ and ‘Aṣṭavarga Plants’, which are at the verge of extinction. Besides, his initiatives for Biodiversity Conservations is paramount.

Acharya Balkrishan is presently working on various projects, which are of National and International values including bringing up of herbal garden & herbariums, first ever ‘World Botanical Dictionary’, ‘Wealth of Food Crops’, identification of rare herbs containing medicinal properties & vegetation survey of India.

To strengthening the traditional medicine system of the world he is presently working on the multivolume ‘World Herbal Encyclopedia’ that contains description of 60,000 medicinal plant species with world largest collection of medical plants paintings.

Acharya Ji1 - Copy

As already said, Acharya Balkrishan is committed to re-invent new ways and means to get rid of health problems, bridging the gaps in Ayurvedic knowledge & strengthening of health system by way of Ayurvedic sanhita, he is the torch bearer in creating and improving preventive systems, diagnostic and therapeutic interventions through Indigenous Medicinal System i.e. Yoga & Ayurveda, holistic healing of health naturally compatible with modern health indexes.

Bestowing strength over traditional medicine system of the world, Acharya ji is working on the voluminous ‘World Herbal Encyclopedia’ which contain descriptions of 60,000 medicinal plant species which would be one of the world’s largest collection of Medicinal Plants Paintings.

More than 120 Research Articles have been published to his credit and 41 Patents rights are indexed against his name in various National and International Journals. Besides, he has authored more than 100 books on Yoga, Ayurveda and scripted more than 18 unpublished Ancient Ayurveda Manuscripts. One of the scripture ‘Aushadh Darshan’ has been in great demand of which more than 10 million copies have been sold. Besides, ‘The Science of Ayurveda’ has been published in 71 languages across globe.

With his divine vision , untiring efforts for good health to all more than 1.5 million patients suffering from stubborn chronic and non-communicable diseases have been cured in the preceding two decades,. Presently more than 1500 Ayurveda traditional doctors are providing primary healthcare service/ guidance free of cost to more than 7 million patients per annum and 1 million volunteers are taking free Yoga classes of which over 50 Million person are benefited routinely.

With his vast experience in managerial fields, his expertise & guidance is adorned by one and all in India and abroad as well. Most read magazines like ‘India Today’ (Nov 2009) and ‘Outlook’ (Jan 2010) acknowledged him among the ‘Ten Versatile and Dynamic Young Men of India’. He has been decorated with D Litt. (Yoga) (Honoris Causa) by S-VYASA and the faculty of Management by APS University, Rewa. For the first time UNSDG felicitated with “UNSDG 10 Most Influential People in Healthcare Award” at the UN headquarters in Geneva, Switzerland during 2019. He is the ‘Most Followed Entrepreneur’ in the Indian Social Media with more than 7 Million Followers at various media platforms.

With his envision for most valued education Acharya Balkrishna had established free qualitative education institutes, Ayurvedic College & University with a vested motive that children of all caste and creed could be benefited and achieve full potential who could contribute much to their communities & the world for their well being and prosperity, in return. By this holiest augmentation, more than 1 million community members have been benefited and yielding good results.

He is helping to derive agricultural transformation through organic cultivation, which ensures this organic agriculture transformation should increase agricultural productivity; increase in farmers income; and increase equitable consumption of a safe, affordable and nutritious diet throughout the life span.

As already discussed ibid his being very close to Humanity and above all A Man of the God, he played a significant humanitarian role in Assessment of Post-Disaster Requirements, how to help People and and coordinate with Governmental authorities for quick and immediate needs saving the trapped lives. Head on efforts made in Tsunami 2004, Bihar Flood 2008, Uttrakhand Disaster 2013 and Nepal Earthquake 2015 are worth recognition.

He has been decorated with prestigious ‘Ayurveda Expert’, ‘Manav Ratan’, ‘Bharat Gaurav’, ‘Indian of the Year’ ‘Bheeshma Pusakar’, Lokmanya Tilak’ and ‘Transformational Business Leader’ awards for his exceptional levels of knowledge and expertise, passion to work and service to mankind.

</h5>









