<h6>Before we get to what happens when you are underweight,<br>
    it is important to understand if you qualify as underweight.<br>
     If your BMI is under 18.5, you are considered to be underweight.<br>

        While some people might be underweight genetically,<br>
         others are probably under the mark because they don’t get the required nutrients to remain in the pink of health.<br>
        These nutrients are not reaching where they should because of lack of consumption or improper absorption.<br>
         Your immune system takes a hit. You will find it difficult to fight infections and illness. <br>

</h6>

<h4>How Does Yoga Help You Gain Weight?</h4>
<h6>
Yoga addresses problems like poor metabolism, <br>
stress, lack of appetite, and digestive issues.<br>
 While it helps overcome these problems,<br>
 it also stabilizes weight and ensures you hit the right weight goals.<br>
  Yoga enhances the circulation of oxygen and blood,<br>
  and this helps improve the nutrient absorption. <br>
   It strengthens the muscles and allows you to become strong and flexible.<br>
   It also improves your stamina.<br>
  It is essential to note that yoga  mainly towards regulating your metabolism. <br>
  Therefore, you must not abandon these asanas if you are trying to lose weight. <br>
  They work for both. You must make sure you undertake weight gain through yoga under the guidance of a qualified trainer.<br>
  Also, you must support these exercises with a nutrient-dense diet.<br>
    </h6>
   <h3> Yoga For Weight Gain</h3>
<h5><a href="https://www.stylecraze.com/articles/effective-yoga-exercises-to-gain-weight/#Bhujangasana">1.Bhujangasana</a>
<a href="https://www.stylecraze.com/articles/effective-yoga-exercises-to-gain-weight/#Vajrasana">2.Vajrasana</a>
<a href="https://www.stylecraze.com/articles/effective-yoga-exercises-to-gain-weight/#Pavanamuktasana">3.Pavanamuktasana</a>
<a href="https://www.stylecraze.com/articles/effective-yoga-exercises-to-gain-weight/#Matsyasana">4.Matsyasana</a>
<a href="https://www.stylecraze.com/articles/effective-yoga-exercises-to-gain-weight/#Sarvangasana">5.Sarvangasana</a>
<a href="https://www.stylecraze.com/articles/effective-yoga-exercises-to-gain-weight/#Shavasana">6.Shavasana</a>
</h5>
<h3>  Diet</h3><br>
<div class="caption">
        <video width="150" controls>
                <source src="assets/New folder/VID-20191126-WA0001.mp4 " type="video/mp4">
                <source src="assets/New folder/VID-20191126-WA0001.ogg " type="video/ogg">
            </video><br>
                    <video width="150" controls>

                <source src="assets/New folder/VID-20191126-WA0002.mp4 " type="video/mp4">
                    <source src="assets/New folder/VID-20191126-WA0002.ogg " type="video/ogg">
                Your browser does not support HTML5 video.
              </video>
              <br>
            </div>

<h4>Here are some energy-dense foods that are perfect for gaining weight:</h4>

<h6>
Nuts: Almonds, walnuts, macadamia nuts, peanuts, etc.<br>
Dried fruit: Raisins, dates, prunes and others.<br>
High-fat dairy: Whole milk, full-fat yogurt, cheese, cream.<br>
Fats and oils: Extra virgin olive oil and avocado oil.<br>
Grains: Whole grains like oats and brown rice.<br>
Meat: Chicken, beef, pork, lamb, etc. Choose fattier cuts.<br>
Tubers: Potatoes, sweet potatoes and yams.<br>
Dark chocolate, avocados, peanut butter, coconut milk, granola, trail mixe<br>
</h6>

