<p>history works!</p>

<html>

<body>

    <h2>YOGA: ITS ORIGIN, HISTORY AND DEVELOPMENT</h2><br><br><br>
    <h3>Dr. Ishwar V. Basavaraddi<br>
        Director<br>
        Morarji Desai National Institute of Yoga<br>
        68, Ashoka Road, New Delhi -110001<br>
    </h3>
    <div class="bg-history">

    </div>
    <h3 class="text justify-content-center">
        Yoga is an Art and Scince of healthy living. It is a spiritual discipline<br>
        based on an extremely subtle science, which focuses on bringing harmony<br>
        between mind and body. The holistic approach of Yoga is well established and<br>
        it brings harmony in all walks of life and thus, known for disease prevention,<br>
        promotion of health and management of many lifestyle related disorders.<br>
        The term Yoga is derived from the Sanskrit root YUJ , meaning to join <br>
        or to yoke or to unite . As per Yogic scriptures the practice of Yoga leads to<br>
        the union of individual consciousness with that of the Universal<br>
        Consciousness, indicating a perfect harmony between the mind and body, Man<br>
        & Nature. The aim of Yoga is Self-Realization, to overcome all kinds of<br>
        sufferings leading to 'the state of liberation'. This is one of the oldest sciences<br>
        of the world, originated in India, which is very useful for preserving and<br>
        maintaining one's physical and mental health and also for 'spiritual evolution'.<br>
        The practice of Yoga is believed to have started with the very dawn of<br>
        civilization, Mythologically, the Lord Shiva is considered to be the first teacher<br>
        of Yoga. Yoga, being widely considered as an immortal cultural outcome of<br>
        Indus valley civilization dating back to 2700 B.C. has proved itself catering<br>
        to both material and spiritual upliftment of humanity. Basic humane values are<br>
        the very identity of Yoga Sadhana.<br>
        The Number of seals and fossil remains of Indus valley civilization with<br>
        Yogic motives and figures performing Yoga Sadhana suggest the presence of<br>
        Yoga in ancient India. The phallic symbols, seals of idols of mother Goddess<br>
        are suggestive of Tantra Yoga. Presence of Yoga is available in folk traditions,<br>
        Indus valley civilization, Vedic and Upanishadic heritage, Buddhist and Jain<br>
        traditions, Darshanas, epics of Mahabharat and Ramayana, theistic traditions<br>
        of Shaivas, Vaishnavas, and Tantric traditions. In addition, there was a<br>
        primordial or pure Yoga which has been manifested in mystical traditions of<br>
        South Asia. This was the time when Yoga was being practised under the direct<br>
        guidance of Guru and its spritual value was given special importance. It was a<br>
        part of Upasana and yoga sadhana was inbuilt in their rituals. Sun was given<br>
        highest importance during the vedic period. The practice of Surya namaskara <br>
        may have been invented later due to this influence. Pranayama was a part of<br>
        daily ritual and to offer the oblation. Though Yoga was being practiced in the<br>
        pre-Vedic period (2700 B.C.), the great Sage Maharshi Patanjali systematized<br>
        and codified the then existing practices of Yoga, its meaning and its related<br>
        knowledge through his Yoga Sutras. After Patanjali, many Sages and Yoga<br>
        Masters contributed greatly for the preservation and development of the field<br>
        through their well documented practices and literature.<br>
        Historical evidences of the existence of Yoga were seen in the pre-Vedic<br>
        period (2700 B.C.), and thereafter till Patanjali s period. The main sources,<br>
        from which we get the information about Yoga practices and the related<br>
        literature during this period, are available in Vedas (4), Upanishads(108),<br>
        Smritis, teachings of Buddhism, Jainism, Panini, Epics (2), Puranas (18) etc.<br>
        Tentatively, the period between 500 BC - 800 A.D. is considered as the<br>
        Classical period which is also considered as the most fertile and prominent<br>
        period in the history and development of Yoga. During this period,<br>
        commentaries of Vyasa on Yoga Sutras and Bhagawadgita etc. came into<br>
        existence.This period can be mainly dedicated to two great religious teachers<br>
        of India Mahavir and Buddha. The concept of Five great vows Pancha<br>
        mahavrata- by Mahavir and Ashta Magga or eightfold path by Buddha - can be<br>
        well considered as early nature of Yoga sadhana. We find its more explicit<br>
        explanation in Bhagawadgita which has elaborately presented the concept of<br>
        Gyan yoga, Bhakti yoga and Karma Yoga. These three types of yoga are still<br>
        the highest example of human wisdom and and even to day people find peace<br>
        by following the methods as shown in Gita. Patanjali s yoga sutra besides<br>
        containing various aspects of yoga, is mainly identified with eight fold path of<br>
        Yoga. The very important commentary on Yoga sutra by Vyasa was also<br>
        written. During this very period the aspect of mind was given importance and it<br>
        was clearly brought out through Yoga sadhana, Mind and body both can be<br>
        brought under control to experience equanimity.<br>
        The period between 800 A.D. - 1700 A.D. has been recognized as the<br>
        Post Classical period wherein the teachings of great Acharyatrayas-Adi<br>
        Shankracharya, Ramanujacharya, Madhavacharya-were prominent during this<br>
        period. The teachings of Suradasa, Tulasidasa, Purandardasa, Mirabai were<br>
        the great contributors during this period. The Natha Yogis of Hathayoga<br>
        Tradition like Matsyendaranatha, Gorkshanatha, Cauranginatha, Swatmaram<br>
        Suri, Gheranda, Shrinivasa Bhatt are some of the great personalities who<br>
        popularized the Hatha Yoga practices during this period.<br>
        The period between 1700 - 1900 A.D. is considered as Modern period in<br>
        which the great Yogacharyas- Ramana Maharshi, Ramakrishna Paramhansa,<br>
        Paramhansa Yogananda, Vivekananda etc. have contributed for the<br>
        development of Raja Yoga.This was the period when Vedanta, Bhakti yoga,<br>
        Nathayoga or Hatha-yoga flourished. The Shadanga-yoga of<br>
        Gorakshashatakam, Chaturanga-yoga of Hathayogapradipika, Saptanga-yoga<br>
        of Gheranda Samhita, were the main tenents of Hatha-yoga.<br>
        Now in the contemporary times, everybody has conviction about yoga<br>
        practices towards the preservation, maintenance and promotion of health.<br>
        Yoga has spread all over the world by the teachings of great personalities like<br>
        Swami Shivananda, Shri T.Krishnamacharya, Swami Kuvalayananda, Shri<br>
        Yogendara, Swami Rama, Sri Aurobindo, Maharshi Mahesh Yogi, Acharya<br>
        Rajanish, Pattabhijois, BKS. Iyengar, Swami Satyananda Sarasvati and the<br>
        like.<br>
        These different Philosophies, Traditions, lineages and Guru-shishya<br>
        paramparas of Yoga lead to the emergence of differnt Traditional Schools of<br>
        Yoga e.g. Jnana-yoga, Bhakti-yoga, Karma-yoga, Dhyana-yoga, Patanjalayoga,<br>
        Kundalini-yoga, Hatha-yoga, Mantra-yoga, Laya-yoga, Raja-yoga, Jainyoga,<br>
        Bouddha-yoga etc. Each school has its own principles and practices<br>
        leading to altimate aim and objectives of Yoga.<br>
        However, the widely practiced Yoga Sadhanas (Practices) are: Yama,<br>
        Niyama, Asana, Pranayama, Pratyahara, Dharana, Dhyana (Meditation),<br>
        Samadhi /Samyama, Bandhas & Mudras, Shat-karmas, Yukta-ahara, Yukta<br>
        karma, Mantra japa, etc.<br>
        Yama's are restraints and Niyama's are observances. These are<br>
        considered to be pre-requisits for the Yoga Sadhanas (Practices). Asanas,<br>
        capable of bringing about stability of body and mind kuryat-tad-asanamsthairyam... <br>
        , consists in adopting various body (psycho-physical) patterns,<br>
        giving ability to maintain a body position (a stable awareness of one s structural<br>
        existence) for a considerable length and period of time as well.<br>
        Pranayama consists in developing awareness of one s breathing<br>
        followed by willful regulation of respiration as the functional or vital basis of<br>
        one s existence. It helps in developing awareness of one s mind and helps to<br>
        establish control over the mind. In the initial stages, this is done by developing<br>
        awareness of the flow of in-breath and out-breath (svasa-prasvasa) through<br>
        nostrils, mouth and other body openings, its internal and external pathways<br>
        and destinations. Later, this phenomenan is modified, through regulated,<br>
        controlled and monitored inhalation (svasa) leading to the awareness of the<br>
        body space/s getting filled (puraka), the space/s remaning in a filled state<br>
        (kumbhaka) and it s getting emptied (rechaka) during regulated, controlled and<br>
        monitored exhalation (prasvasa).<br>
        Pratyhara indicates dissociation of one s consciousness (withdrawal)<br>
        from the sense organs which helps one to remain connected with the external<br>
        objects. Dharana indicates broad based field of attetion (inside the body and<br>
        mind) which is usually understood as concentration. Dhyana (Meditation) is<br>
        contemplation (focussed attention inside the body and mind) and Samadhi <br>
        integration.<br>
        Bandhas and Mudras are practices associated with pranayama. They<br>
        are viewed as (the) higher Yogic practices mainly consisting on adopting<br>
        certain body (psycho-physical) patterns along with (s well as) control over<br>
        respiration.This further facilitates control over mind and paves way for higher<br>
        yogic attainment.Shat-karmas are de-toxification procedures, help to remove<br>
        the toxins acumalated in the body and are clinical in nature.<br>
        Yuktahara (Right Food and other inputs) advocates appropriate food and<br>
        food habits for healthy living. However practice of Dhyana (Meditation) helping<br>
        in self-realization leading to transcendence is considered as the esssence of<br>
        Yoga Sadhana (The Practice of Yoga).<br>
        Tradiitionally, Yoga Education was imparted by knowledgeable,<br>
        experienced, and wise persons in the families (comparable with the education<br>
        imparted in convents in the west) and then by the Seers<br>
        (Rishis/Munis/Acharyas) in Ashramas (compared with monastries). Yoga<br>
        Education, on the other hand, aims at taking care of the individual, the 'Being'.<br>
        It is presumed that a good, balanced, integrated, truthful, clean, transparent<br>
        person will be more useful to oneself, family, society, nation, nature and<br>
        humanity at large. Yoga education is 'Being oriented'. Details of working with<br>
        'being oriented' aspect have been outlined in various living traditions and texts<br>
        and the method contributing to this important field is known as 'Yoga'.<br>
        Present days, Yoga Education is being imparted by many eminent Yoga<br>
        Institutions, Yoga Colleges, Yoga Universites, Yoga Departments in the<br>
        Universities, Naturopathy colleges and Private trusts & societies. Many Yoga<br>
        Clinics, Yoga Therapy and Training Centers, Preventive Health Care Units of<br>
        Yoga, Yoga Research Centers etc. have been established in Hospitals,<br>
        Dispensories, Medical Institiutions and Therapetical setups.<br>
        Different social customs and rituals in India, the land of Yoga, reflect a<br>
        love for ecological balance, tolerance towards other systems of thought and a<br>
        compassionate outlook towards all creations.Yoga Sadhana of all hues and<br>
        colours is considered panacea for a meaningful life and living. Its orientation to<br>
        a comprehensive health, both individual and social, makes it a worthy practice<br>
        for the people of all religions, races and nationalities.<br>
        Now-a-days, millions and millions of people across the globe have<br>
        benefitted by the practice of Yoga which has been preserved and promoted by<br>
        the great eminent Yoga Masters from ancient time to this date.<br>
        <h2>
            References
            <br>I) Traditional Yoga Texts<br>
            II) Teaching Notes/Articles of Leading Yoga Experts.
        </h2>
    </h3>
</body>

</html>