
<div class="bg-history">

        <h1> Diangosans Enlightenment </h1> <br>

</div>


<div class="caption">

    <h2>YOGA: ITS ORIGIN, HISTORY AND DEVELOPMENT</h2><br><br><br>
    <h3>Dr. Ishwar V. Basavaraddi<br>
        Director<br>
        Morarji Desai National Institute of Yoga<br>
        68, Ashoka Road, New Delhi -110001<br>
    </h3>

    <a href="https://www.hinduwebsite.com/upanishads/essays/history-of-yoga-references-in-the-upanishads.asp">
    Vidya and Avidya in Brihadaranyaka Upanishad
    </a>

<div class="bg-history1">


    <h3 class="text justify-content-center">

        <br><br>
        "Yoga is an Art and Scince of healthy living. It is a spiritual discipline<br>
        based on an extremely subtle science, which focuses on bringing harmony<br>
        between mind and body. The holistic approach of Yoga is well established and<br>
        it brings harmony in all walks of life and thus, known for disease prevention,<br>
        promotion of health and management of many lifestyle related disorders.<br>
        The term Yoga is derived from the Sanskrit root YUJ , meaning to join <br>
        or to yoke or to unite . As per Yogic scriptures the practice of Yoga leads to<br>
        the union of individual consciousness with that of the Universal<br>
        Consciousness, indicating a perfect harmony between the mind and body, Man<br>
        & Nature. The aim of Yoga is Self-Realization, to overcome all kinds of<br>
        sufferings leading to 'the state of liberation'. This is one of the oldest sciences<br>
        of the world, originated in India, which is very useful for preserving and<br>
        maintaining one's physical and mental health and also for 'spiritual evolution'.<br>
        The practice of Yoga is believed to have started with the very dawn of<br>
        civilization, Mythologically, the Lord Shiva is considered to be the first teacher<br>
        of Yoga. Yoga, being widely considered as an immortal cultural outcome of<br>
        Indus valley civilization dating back to 2700 B.C. has proved itself catering<br>
        to both material and spiritual upliftment of humanity. Basic humane values are<br>
        the very identity of Yoga Sadhana.<br>
        The Number of seals and fossil remains of Indus valley civilization with<br>
        Yogic motives and figures performing Yoga Sadhana suggest the presence of<br>
        Yoga in ancient India. The phallic symbols, seals of idols of mother Goddess<br>
        are suggestive of Tantra Yoga. Presence of Yoga is available in folk traditions,<br>
        Indus valley civilization, Vedic and Upanishadic heritage, Buddhist and Jain<br>
        traditions, Darshanas, epics of Mahabharat and Ramayana, theistic traditions<br>
        of Shaivas, Vaishnavas, and Tantric traditions. In addition, there was a<br>
        primordial or pure Yoga which has been manifested in mystical traditions of<br>
        South Asia. This was the time when Yoga was being practised under the direct<br>
        guidance of Guru and its spritual value was given special importance. It was a<br>
        part of Upasana and yoga sadhana was inbuilt in their rituals. Sun was given<br>
        highest importance during the vedic period. The practice of Surya namaskara <br>
        may have been invented later due to this influence. Pranayama was a part of<br>
        daily ritual and to offer the oblation. Though Yoga was being practiced in the<br>
        pre-Vedic period (2700 B.C.), the great Sage Maharshi Patanjali systematized<br>
        and codified the then existing practices of Yoga, its meaning and its related<br>
        knowledge through his Yoga Sutras. After Patanjali, many Sages and Yoga<br>
        Masters contributed greatly for the preservation and development of the field<br>
        through their well documented practices and literature!!!!".<br>

        <a href="https://www.hinduwebsite.com">
                <img src="src\assets\images\smiley.gif" alt="history" style="width:42px;height:42px;border:0;">
              Jnana, Knowledge in Hinduism
            </a><br><br>

        <a href="https://www.hinduwebsite.com/upanishads/essays/history/isaverse2.asp">
            Isa Upanishad On The Importance Of Duty </a>
            <br><br>
        <a href="https://www.hinduwebsite.com/upanishads/essays/">
            Wisdom of the Katha Upanishad</a><br><br>
        <a href="https://www.hinduwebsite.com/upanishads/essays/history-of-yoga-references-in-the-upanishads.asp">

            Kena Upanishad on the Limits of Knowledge</a><br><br>
        <a href="https://www.hinduwebsite.com/upanishads/essays/secret.asp">

            Self-knowledge Beyond the Mind</a><br><br>

        <a href="https://www.hinduwebsite.com/upanishads/essays/self-realization.asp">
                Self-Realization, Atma Bodha, in Hinduism</a>
            <br><br>
        <a href="https://www.hinduwebsite.com/upanishads/essays/sex-in-Upanishads.asp">
             What You can Learn from the Isa Upanishad</a><br><br>
        <a href="https://www.hinduwebsite.com/buddhism/eightfoldpath.asp">
            Concepts of Buddhism</a>
            <br><br>
        <a href="https://www.hinduwebsite.com/selfdevt/refhappiness.asp">
            Happiness
            </a><br><br>

        <h2>
            References
            <br>I) Traditional Yoga Texts<br>
            II) Teaching Notes/Articles of Leading Yoga Experts.
        </h2>
    </h3>
</div>>

</div>
