
<div class="caption1"> <h3>Your body deserve the best.........!!! <br>
    Take care of your body .It is the only place you have to live.......!!!
</h3>
</div><br><br>
<div class="caption">

        <video width="300" controls>
                <source src="assets/New folder/VID-20191126-WA0003.mp4 " type="video/mp4">
                <source src="assets/New folder/VID-20191126-WA0003.ogg " type="video/ogg">
                Your browser does not support HTML5 video.
                </video> <br>stay healthy!!!!!

              </div>

