<p>bmi works!</p>

<html>

<body>

    <head>
        <title>BMI Calculator</title>
        <script type="text/javascript">
        </script>
    </head>

    <body>
        <h1>Body Mass Index Calculator</h1>
        <br>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Your Height" name="height" [(ngModel)]="height">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label> Select unit </mat-label>
            <select matNativeControl required [(ngModel)]="heightunits">
                <option value="meters">Meters</option>
                <option value="inches">Inches</option>
            </select>
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Your Weight" name="weight" [(ngModel)]="weight">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label> Select unit </mat-label>
            <select matNativeControl required [(ngModel)]="weightunits">
                <option value="kg">Kilograms</option>
                <option value="lb">Pounds</option>
            </select>
        </mat-form-field>

        <br>

        <button mat-raised-button color="accent" (click)="computeBMI()"> Compute BMI </button>

        <h1>Your BMI is: <span id="output"> {{ totalBMI }} </span></h1>

        <h2>This means you are: <span id="comment"> {{ comment }} </span> </h2>
    </body>
</body>