<div class="bg">
    <div class="caption">
        <h1> Diangosans </h1>
        <style> a{color:rgba(16, 2, 27, 0.678);}</style>

        <a href="https://www.doyouyoga.com/8-types-of-yoga-explained-16100/"> see here </a><br>
    </div>

<form>
<mat-form-field>
    <mat-select placeholder="Select type" [(ngModel)]="selectedValue" name="data"   >
      <mat-option *ngFor="let data of type" [value]="data.poses" >
        {{data.name}}
      </mat-option>

    </mat-select>
    </mat-form-field>

    </form>
      <!--mat-option *ngFor="let data of type" [value]="data.gototype()">
         {{data.name}}



        </mat-option>

    </mat-select-->


  <p>selected type : {{selectedValue}}
      <button mat-raised-button color="accent" (click)="gototype1()"> ok</button>
  </p>


</div>



