<p>type1 works!</p>
<h1>Leg Raises</h1>

<h2>Description of the Asana</h2>
<h3>
The simple exercises prepare the body for asanas, strengthening in particular the abdominal and lower back muscles.

Single Leg Raising

Inhaling raise the right leg as high possible; then, exhaling, lower it down. Repeat with the left leg. Perform three times.
Inhaling, raise the right leg, then clasp it in both hands and pull it toward you, keeping your head down. Take a few breaths.
Now raise your chin to your shin and hold for one deep breath; then exhaling, lower the head and, leg. Repeat three times each side.
Double Leg Raising

Lie flat on the floor inhaling, raise both legs, keeping your knees straight and your buttocks on the floor ; then exhale and lower them. Repeat ten times.

Note: Make sure that your lower back remains flat on the floor while you bring the leg down,to avoid injuring your spine.
</h3>