<html>
<head>
<style>
div.gallery
{
    border: 1px solid #ccc;
}

div.gallery:hover
{
    border: 1px solid #777;
}

div.gallery img
{
    width: 100%;
    height: 100%;
}

div.desc
{
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive
{
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px)
{
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px)
{
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

</style>
</head>

<body>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="assets/images/legR.jpg">
      <img src="assets/images/legR.jpg" alt="Cinque Terre" width="600" height="400">
         </a>
         <div class="desc">  Leg Raise  <br>
        <a href="https://www.youtube.com/watch?v=XfRI2tNyW14"> video</a><br>
        <a href="https://www.gyanunlimited.com/health/raised-leg-yoga-pose-uttanpadasana-steps-benefits-and-images/11409/">steps benefits and images</a>
        <br>
      </div>
  </div>
</div>
<div class="responsive">
  <div class="gallery">
    <a target="_blank"  href="assets/New folder/images/pranayama-class-delhi-india.jpg">
      <img src="assets/New folder/images/pranayama-class-delhi-india.jpg" alt="Cinque Terre" width="600" height="400">
         </a>
         <div class="desc"> BasicBreathing <br>
        <a href="https://www.youtube.com/watch?v=-EH4D_DAvqc"> video</a><br>
        <a href="https://www.sarvyoga.com/pranayama-breathing-exercises-the-vital-source-of-energy-breathing-exercises/">steps benefits and images</a>
      </div>
  </div>
</div>

<div class="responsive">
    <div class="gallery">
      <a target="_blank"  href="assets/New folder/images/halasann.jpg">
        <img src="assets/New folder/images/halasann.jpg" alt="Cinque Terre" width="600" height="400">
           </a>
           <div class="desc"> (Hala Asana) <br>
          <a href="https://www.youtube.com/watch?v=ljfoO0liEvA"> video</a><br>
          <a href="https://www.sarvyoga.com/halasana-plow-pose-steps-and-benefits/">steps benefits and images</a>
        </div>
    </div>
  </div>


  <div class="responsive">
      <div class="gallery">
        <a target="_blank"  href="assets/New folder/images/sarvangasa.webp">
          <img src="assets/New folder/images/sarvangasa.webp" alt="Cinque Terre" width="600" height="400">
             </a>
             <div class="desc"> The Shoulder Stand (Sarvang Asana)<br>
            <a href="https://www.youtube.com/watch?v=Iny8-7jqqKU"> video</a><br>
            <a href="https://www.rishikulyogshala.org/top-10-excellent-benefits-of-sarvangasana-shoulder-stand/">steps benefits and images</a>
          </div>
      </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank"  href="assets/New folder/images/matsyasan.jpg">
            <img src="assets/New folder/images/matsyasan.jpg" alt="Cinque Terre" width="600" height="400">
               </a>
               <div class="desc">Matsyasan <br>
              <a href="https://www.youtube.com/watch?v=i1y0ZGKi-e8"> video</a><br>
              <a href="https://www.finessyoga.com/yoga-asanas/matsyasana-fish-pose">steps benefits and images</a>
            </div>
        </div>
      </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank"  href="assets/New folder/images/dhanurasan.jpg">
            <img src="assets/New folder/images/dhanurasan.jpg" alt="Cinque Terre" width="600" height="400">
               </a>
               <div class="desc"> Dhanurasan<br>
              <a href="https://www.youtube.com/watch?v=xm00XMmBbto"> video</a><br>
            <a href="https://www.gyanunlimited.com/health/bow-pose-dhanurasana-steps-health-benefits-and-precautions/10170/">steps benefits and images</a>
            </div>
        </div>
      </div>

      <div class="responsive">
          <div class="gallery">
            <a target="_blank"  href="assets/New folder/images/padmasan.jpg">
              <img src="assets/New folder/images/padmasan.jpg" alt="Cinque Terre" width="600" height="400">
                 </a>
                 <div class="desc">padmasan<br>
                <a href="https://www.youtube.com/watch?v=LzE4WXt0b9U"> video</a><br>
                <a href="https://www.sarvyoga.com/padmasana-lotus-pose-steps-and-benefits/">steps benefits and images</a>
              </div>
          </div>
        </div>

        <div class="responsive">
            <div class="gallery">
              <a target="_blank"  href="assets/New folder/images/sba.jpg">
                <img src="assets/New folder/images/sba.jpg" alt="Cinque Terre" width="600" height="400">
                   </a>
                   <div class="desc"> bridge(sethu badhha Asana)<br>
                  <a href="https://www.youtube.com/watch?v=29d6lLrU494"> video</a><br>
                  <a href="https://www.cnyhealingarts.com/the-health-benefits-of-setu-bandhasana-bridge-pose/">steps benefits and images</a>
                </div>
            </div>
          </div>
          <div class="responsive">
              <div class="gallery">
                <a target="_blank"  href="assets/New folder/images/sirshasan.jpg">
                  <img src="assets/New folder/images/sirshasan.jpg" alt="Cinque Terre" width="600" height="400">
                     </a>
                     <div class="desc"> The headStand (Shirsha Asana)<br>
                    <a href="https://www.youtube.com/watch?v=Iny8-7jqqKU"> video</a><br>
                    <a href="https://www.rishikulyogshala.org/top-10-excellent-benefits-of-sarvangasana-shoulder-stand/">steps benefits and images</a>
                  </div>
              </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                  <a target="_blank"  href="assets/New folder/images/ppp1.jpg">
                    <img src="assets/New folder/images/ppp1.jpg" alt="Cinque Terre" width="600" height="400">
                       </a>
                       <div class="desc"> The forward bend ( PaschimothanAsana)<br>
                      <a href="https://www.youtube.com/watch?v=jy-WHVY8TJg"> video</a><br>
                      <a href="https://www.doyouyoga.com/how-to-do-sirsasana-or-headstand-60915/">steps benefits and images</a>
                    </div>
                </div>
              </div>

              <div class="responsive">
                  <div class="gallery">
                    <a target="_blank"  href="assets/New folder/images/ppp2.jpg">
                      <img src="assets/New folder/images/ppp2.jpg" alt="Cinque Terre" width="600" height="400">
                         </a>
                         <div class="desc"> cobra (bhujangasan)<br>
                        <a href="https://www.youtube.com/watch?v=9Kbpfa3xJck"> video</a><br>
                        <a href="https://www.sarvyoga.com/bhujangasana-cobra-pose-steps-and-benefits/">steps benefits and images</a>
                      </div>
                  </div>
                </div>
                <div class="responsive">
                    <div class="gallery">
                      <a target="_blank"  href="assets/New folder/images/ppp3.jpg">
                        <img src="assets/New folder/images/ppp3.jpg" alt="Cinque Terre" width="600" height="400">
                           </a>
                           <div class="desc"> The locust (SalabhaAsana)<br>
                          <a href="https://www.youtube.com/watch?v=IFKJasb2taE"> video</a><br>
                          <a href="https://www.yogajournal.com/poses/locust-pose">steps benefits and images</a>
                        </div>
                    </div>
                  </div>
                  <div class="responsive">
                      <div class="gallery">
                        <a target="_blank"  href="assets/New folder/images/ppp4.jpg">
                          <img src="assets/New folder/images/ppp4.jpg" alt="Cinque Terre" width="600" height="400">
                             </a>
                             <div class="desc"> half spinal twist (ArdhMatsyendrAsana)<br>
                            <a href="https://www.youtube.com/watch?v=Iny8-7jqqKU"> video</a><br>
                            <a href="https://www.rishikulyogshala.org/top-10-excellent-benefits-of-sarvangasana-shoulder-stand/">steps benefits and images</a>
                          </div>
                      </div>
                    </div>
                    <div class ="responsive">
                    <div class ="gallery">
                    <a target="_blank" href="assets/New folder/images/ppp5.jpg">
                    <img src="assets/New folder/images/ppp5.jpg" alt="Cinque Terre"width="600"height="400">
                    </a>
                    <div class="desc">Simhasana<br>
                    <a href="https://www.youtube.com/watch?v=Yu-efy8FFUk">video</a><br>
                    <a href="https://www.sarvyoga.com/simhasana-lion-pose-steps-and-benefits/">steps benifite and images</a>
                    <br>
                    </div>
                    </div>
                    </div>

                    <div class ="responsive">
                    <div class ="gallery">
                    <a target="_blank"href="assets/New folder/images/ppp6.jpg">
                    <img src="assets/New folder/images/ppp6.jpg" alt="Cinque Terre"width="600"height="400">
                    </a>
                    <div class="desc">Ardha chakrasana<br>
                    <a href="https://www.youtube.com/watch?v=5mDJS-F-i0E">video</a><br>
                    <a href="https://www.gyanunlimited.com/health/how-to-do-ardha-chakrasana-steps-benefits-and-precautions/11919/">steps benifite and images</a>
                    <br>
                    </div>
                    </div>
                    </div>
                    <div class ="responsive">
                        <div class ="gallery">
                        <a target="_blank"href="assets/New folder/images/ppp7.jpg">
                        <img src="assets/New folder/images/ppp7.jpg" alt="Cinque Terre"width="600"height="400">
                        </a>
                        <div class="desc">Mayurasana<br>
                        <a href="https://www.youtube.com/watch?v=YJgBF0QlZKc">video</a><br>
                        <a href="https://www.sarvyoga.com/mayurasana-peacock-pose-steps-and-benefits/">steps benifite and images</a>
                        <br>
                        </div>
                        </div>
                        </div>
                        <div class ="responsive">
                            <div class ="gallery">
                            <a target="_blank"href="assets/New folder/images/ppp8.jpg">
                            <img src="assets/New folder/images/ppp8.jpg" alt="Cinque Terre"width="600"height="400">
                            </a>
                            <div class="desc">Pawanmuktasana<br>
                            <a href="https://www.youtube.com/watch?v=XxXStB60ey4">video</a><br>
                            <a href="https://www.stylecraze.com/articles/pawanmuktasana-yoga-what-is-it-and-benefits/">steps benifite and images</a>
                            <br>
                            </div>
                            </div>
                            </div>
                            <div class ="responsive">
                                <div class ="gallery">
                                <a target="_blank"href="assets/New folder/images/ppp9.jpg">
                                <img src="assets/New folder/images/ppp9.jpg" alt="Cinque Terre"width="600"height="400">
                                </a>
                                <div class="desc">Baddha padmasana<br>
                                <a href="https://www.youtube.com/watch?v=zjcmB3swEpA">video</a><br>
                                <a href="https://www.sarvyoga.com/baddha-padmasana-locked-lotus-pose-steps-and-benefits/">steps benifite and images</a>
                                <br>
                                </div>
                                </div>
                                </div>
                                <div class ="responsive">
                                    <div class ="gallery">
                                    <a target="_blank"href="assets/New folder/images/ppp11.jpg">
                                    <img src="assets/New folder/images/ppp11.jpg" alt="Cinque Terre"width="600"height="400">
                                    </a>
                                    <div class="desc">Muktasana<br>
                                    <a href="https://www.youtube.com/watch?v=-jKBXV6ZMqo">video</a><br>
                                    <a href="https://www.spotebi.com/exercise-guide/knee-to-nose-dog-pose/">steps benifite and images</a>
                                    <br>
                                    </div>
                                    </div>
                                    </div>
                                    <div class ="responsive">
                                        <div class ="gallery">
                                        <a target="_blank"href="assets/New folder/images/ppp12.jpg">
                                        <img src="assets/New folder/images/ppp12.jpg" alt="Cinque Terre"width="600"height="400">
                                        </a>
                                        <div class="desc">Ardha Shalabhasana<br>
                                        <a href="https://www.youtube.com/watch?v=aMmpy5xUaaE">video</a><br>
                                        <a href="https://yogachapter.com/ardha-salabhasana-yoga-locust-pose-steps-and-benefits/">steps benifite and images</a>
                                        <br>
                                        </div>
                                        </div>
                                        </div>
                                        <div class ="responsive">
                                            <div class ="gallery">
                                            <a target="_blank"href="assets/New folder/images/ppp13.jpg">
                                            <img src="assets/New folder/images/ppp13.jpg" alt="Cinque Terre"width="600"height="400">
                                            </a>
                                            <div class="desc">vajrasana<br>
                                            <a href="https://www.youtube.com/watch?v=82p0aGNJSF4">video</a><br>
                                            <a href="https://food.ndtv.com/health/benefits-of-vajrasana-one-pose-to-solve-all-your-tummy-troubles-1407071">steps benifite and images</a>
                                            <br>
                                            </div>
                                            </div>
                                            </div>
                                            <div class ="responsive">
                                                <div class ="gallery">
                                                <a target="_blank"href="assets/New folder/images/ppp14.jpg">
                                                <img src="assets/New folder/images/ppp14.jpg" alt="Cinque Terre"width="600"height="400">
                                                </a>
                                                <div class="desc">Janusirasana<br>
                                                <a href="https://www.youtube.com/watch?v=JY2DuVBbskA">video</a><br>
                                                <a href="https://www.stylecraze.com/articles/janu-sirsasana-head-to-knee-pose/#gref">steps benifite and images</a>
                                                <br>
                                                </div>
                                                </div>
                                                </div>
                                              </body>

                                              </html>





















































