<!--div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="src\assets\New folder\VID-20170110-WA0014.mp4"></iframe>
  </div-->












<div class="pp-bgimg1">

    <div class="opening-text">


        <span>  </span>
        <span class="pp-text"> {{ 'home.openingText' | translate}} </span>
<br><br>

        <span class="pp-text-small"> {{ 'home.openingSubText' | translate}} </span>





<!--video width="320" height="240" controls>
  <source src="src\assets\New folder\VID-20170110-WA0014.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>

<p><strong>Note:</strong> The video tag is not supported in Internet Explorer 8 and earlier versions.</p>














         <!-- 21:9 aspect ratio -->

  <!-- 16:9 aspect ratio -->
  <!--div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="..."></iframe>
  </div>

  <!-- 4:3 aspect ratio -->
  <!--div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="..."></iframe>
  </div>

  <!-- 1:1 aspect ratio -->
  <!--div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item" src="..."><  </div-->













    </div>

</div>


<div class="pp-bgimg2">
    <div class="benefit">
        <div class="pp-benefit-tex1" id="pp-benefit-tex1"> Yoga keeps you calm
            <br><a href="assets/New folder/VID-20170110-WA0014.mp4">Should visit first</a><br>

        </div><br>
        <div class="pp-benefit-tex2" id="pp-benefit-tex2"> Your body and mind can bind by Yoga </div><br>
        <div class="pp-benefit-tex3" id="pp-benefit-tex3"> Yoga maintain your digestion </div>
        <div class="pp-benefit-tex4" id="pp-benefit-tex4"> Always fresh, Always energiged with Yoga </div>
    </div>


    <div class="site">

        <div class="btn-get-start">
            <button (click)="login()" mat-fab color="accent">
                Start
            </button>


        </div>

    </div>

</div>

<div class="pp-bgimg3">
</div>

<!-- <h1>yoga aasan</h1>
name:
<input type="text" name="name" id="" [(ngModel)]="name">
sirname:
<input type="text" name="" id="" [(ngModel)]="sirname">
color:
<input type="text" name="" id="" [(ngModel)]="color">


<br>
<button (click)="submitLogin()">Submit</button>

<button (click)="login()">Login</button>


<li *ngFor="let item of items">
    <pre>{{ item | json }}</pre>
</li> -->
