<div class="pp-bgimg1">
    <div class="opening-text">
        <!-- <span> {{ 'home.openingText' | translate}} </span> -->
        <span class="pp-text"> Everybody needs yoga </span>
        <span class="pp-text-small"> Nature never lies to you </span>
    </div>
</div>

<div class="pp-bgimg2">
    <div class="benefit">
        <div class="pp-benefit-tex1" id="pp-benefit-tex1"> Yoga keeps you calm </div>
        <div class="pp-benefit-tex2" id="pp-benefit-tex2"> Your body and mind can bind by Yoga </div>
        <div class="pp-benefit-tex3" id="pp-benefit-tex3"> Yoga maintain your digestion </div>
        <div class="pp-benefit-tex4" id="pp-benefit-tex4"> Always fresh, Always energiged with Yoga </div>
    </div>

    <div class="site">
        <div class="btn-get-start">
            <button (click)="login()" mat-fab color="accent">
                Start
            </button>
        </div>
    </div>
</div>

<div class="pp-bgimg3">
</div>

<!-- <h1>yoga aasan</h1>
name:
<input type="text" name="name" id="" [(ngModel)]="name">
sirname:
<input type="text" name="" id="" [(ngModel)]="sirname">
color:
<input type="text" name="" id="" [(ngModel)]="color">


<br>
<button (click)="submitLogin()">Submit</button>

<button (click)="login()">Login</button>


<li *ngFor="let item of items">
    <pre>{{ item | json }}</pre>
</li> -->