

<html>

<body>
    Why should you go with yoga?
    <br><br><br>
    <!-- <img src="y.jpg"> -->
    Every Beginner Should Know this before starting yoga
    <br><br>
    The short answer is that yoga makes you feel better. Practicing the postures, breathing exercises and meditation
    makes you healthier in body, mind and spirit. Yoga lets you tune in, chill out, shape up -- all at the same time.
    <br>
    For many people, that's enough of an answer. But there's more if you're interested.
    <br><br>
    For starters, yoga is good for what ails you. Specifically, research shows that yoga helps manage or control
    anxiety, arthritis, asthma, back pain, blood pressure, carpal tunnel syndrome, chronic fatigue, depression,
    diabetes, epilepsy, headaches, heart disease, multiple sclerosis, stress and other conditions and diseases. What's
    more, yoga:
    <br>
    Improves muscle tone, flexibility, strength and stamina
    Reduces stress and tension
    Boosts self esteem
    Improves concentration and creativity
    Lowers fat
    Improves circulation
    Stimulates the immune system
    Creates sense of well being and calm.
    <br><br>
    And that's just the surface stuff. In fact, most of the benefits mentioned above are secondary to yoga's original
    purpose.
    <br>
    Developed in India, yoga is a spiritual practice that has been evolving for the last 5,000 years or so. The original
    yogis were reacting, in part, to India's ancient Vedic religion, which emphasized rituals. The yogis wanted a direct
    spiritual experience -- one on one -- not symbolic ritual. So they developed yoga.
    Yoga means "union" in Sanskrit, the classical language of India.
    <br>
    According to the yogis, true happiness, liberation and enlightenment comes from union with the divine consciousness
    known as Brahman, or with Atman, the transcendent Self. The various yoga practices are a methodology for reaching
    that goal.
    In hatha yoga, for example, postures and breathing exercises help purify the mind, body and spirit so the yogi can
    attain union.
    <br><br>
    Pranayama breathing exercises help clear the nadis, or channels, that carry prana the universal life force, allowing
    prana to flow freely. When the channels are clear and the last block at the base of the spine has been opened,
    Kundalini rises through the spine, through the central channel called the sushumna-nadi, and joins the crown chakra.
    According to the tradition, the release of Kundalini leads to enlightenment and union.
    <br>
    If you do yoga will you become enlightened?
    <br>
    Well…you might (of course, it could take a few lifetimes of diligent practice). But then again you might not. But it
    doesn't really matter because yoga is a process, and there's a lot of good to be had along the way.
    <br>
    What if you don't believe in talk about enlightenment, spirit and the rest of it?
    <br>
    That's okay, too. Yoga doesn't discriminate. Even if you don't believe in the spiritual side of life, you can still
    do yoga. Whether enlightenment, nadis, prana and Kundalini is literal truth, metaphor or myth is irrelevant. If you
    do yoga, chances are that you will feel its psycho-physiological effects.
    <br>
    Moreover, the concept of union has a powerful down-to-Earth meaning. Yoga helps us get in touch with our true
    selves.
    <br>
    Between work, home and all of the demands and stresses in between, it's easy to lose touch with who we are, that
    core essence with which we were born. Rushing around all day it sometimes feels like the "I" inside is simply the
    result of the things we do all day -- or the effects those things have on our minds, bodies and spirits.

    <br><br>
    Ever say "I am hungry" or "I am stressed"? We identify with our conditions. It's like "hungry" or "stressed" is a
    name (Hi. I'm Stressed. What's your name?) As a result, our identities shift with our moods and conditions.
    <br>
    In truth, however, we are not the conditions we experience or things we do. We are not our jobs or the thousands of
    tasks that make up our jobs. We are not the sensations or emotions we feel. We are not the car we drive or the house
    we live in. We are not "S/he Who Must Pay Bills." We are not Mr. and Ms. Stressed.
    <br>
    Strip away the emotions, sensations and conditions and somewhere deep down inside you are still there. Strip it all
    away and you find out who you really are.
    <br>
    The techniques developed by the yogis to transcend also help us strip away the things that try to mis-define us --
    the emotions, sensations, desires, achievements and failures of daily life. Through yoga we learn to develop a
    greater awareness of our physical and psychological states. As a result, we're in a position to better manage our
    reactions to the thoughts, feelings and responses we have to the various situations we deal with every day.
    <br>
    With greater awareness comes the sensitivity and skill to find and remove the physical and psychological blocks that
    often keep us from our true selves. We no longer identify with our conditions. Instead of saying, "I am stressed,"
    we begin to say, "I feel stress," or "stress is present." It's a subtle but powerful difference.
    <br>
    Or better yet, we say "I feel anxiety and fear, and that's causing stress and in particular it's causing tension in
    my neck and shoulder." So we breathe deeply to soothe the anxiety. We review the events that led to the onset of
    those feelings, and in the process they lose their grip on our nervous system. We intentionally relax our shoulder
    and neck to prevent the stress and tension from building into a permanent condition.
    <br>
    Yoga gives us control of ourselves. It helps cut through the layers of mis-identities that arise in response to our
    actions, experiences and feelings. It calms the frenzy, clears the clutter and allows us to get back in touch with
    ourselves.
    <br><br>
    Yoga is union with self. Or, as Patanjali, one of the great yoga sages, said:
    <br>
    Yogashcittavrittinirodhah (Yoga stills the fluctuations of the mind).
    Tada drashthuh svarupe' vasthanam (Then the true self appears.)
    <br>
    However, yoga is not about self-absorption. Yoga is about being in the world. Although most books, videos and
    websites focus on yoga postures, breathing and meditation, the tradition also emphasizes love, compassion, knowledge
    and right action as paths toward union.
    <br><br>
    Whether you pursue yoga as a spiritual path or for its psycho-physiological benefits, yoga is a methodology for
    developing a deeper experience of your self and the world.
    And it makes you feel really good.

</body>

</html>