<h3>overWeight</h3>
<h6>
        Overweight is a BMI of 27.3 % or more for women and 27.8 % or more for men, according to the NIH.

        Obesity is a BMI of 30 and above, according to the NIH.<br>

        If you're not sleeping, you have more chances to indulge in late-night snacking.

</h6>
<div class="caption">

        <video width="200" controls>
                <source src="assets/New folder/VID-20191125-WA0022.mp4 " type="video/mp4">
                <source src="assets/New folder/VID-20191125-WA0022.ogg " type="video/ogg">
                Your browser does not support HTML5 video.
              </video>
              <br>
            </div>
           <h3> Health Problems of Being Overweight</h3>
            Obesity is bad news for both body and mind. Not only can it make someone feel tired and uncomfortable, carrying extra weight puts added stress on the body, especially the bones and joints of the legs. Kids and teens who are overweight are more likely to develop diabetes and other health problems. And overweight adults have a higher chance of getting heart disease.

           <h4> Weight-related health problems include:</h4>
           <h5><br>
           1.Asthma.<br> Obesity increases the chance of having asthma. Breathing problems related to weight can make it harder to keep up with friends, play sports, or just walk from class to class.

<br><br>2.Sleep apnea.<br>This condition (where a person temporarily stops breathing during sleep) is a serious problem for many overweight kids and adults. Sleep apnea can leave people feeling tired and affect their ability to concentrate and learn. It also may lead to heart problems.

<br><br>3.High blood pressure.<br> When blood pressure is high, the heart has to work harder. If the problem continues for a long time, high blood pressure can damage the heart and arteries.

<br><br>4.High cholesterol.<br>Abnormal blood lipid levels, including high cholesterol

<br><br>5.Fatty liver.<br> If fat builds up in the liver, it can cause inflammation , scarring, and permanent liver damage.

<br><br>6.Joint and muscle pain.<br> Wear and tear on the joints from carrying extra weight may lead to arthritis in adulthood.

<br><br>7.Slipped capital femoral epiphyses (SCFE).<br>SCFE is a painful hip problem that requires immediate attention and surgery to prevent further damage to the joint.

<br>8.Pseudotumor cerebri.<br>
<h3>Yoga For weight loss – The 7 Best Asanas<h3>
<h5><a href="https://www.stylecraze.com/articles/yoga-asanas-for-seniors/#Tadasana(MountainPose)">1.Tadasana (Mountain Pose)</a><br>
    <a href="https://www.stylecraze.com/articles/yoga-asanas-for-seniors/#BaddhaKonasana(ButterflyPose)">2.Baddha Konasana (Butterfly Pose)
        </a><br>
        <a href="https://www.stylecraze.com/articles/yoga-asanas-for-seniors/#Balasana(ChildPose)">3.Balasana (Child Pose)
            </a><br>
        <a href="https://www.stylecraze.com/articles/yoga-asanas-for-seniors/#Bhujangasana(CobraPose)">4.Bhujangasana (Cobra Pose)
            </a><br>
        <a href="https://www.stylecraze.com/articles/yoga-asanas-for-seniors/#AdhoMukhaSvanasana(DownwardFacingDogPose)">5.Adho Mukha Svanasana (Downward Facing Dog Pose)
            </a><br>

<a href="https://www.stylecraze.com/articles/yoga-asanas-for-seniors/#Trikonasana(TrianglePose)">6.Trikonasana (Triangle Pose)</a>

<a href="https://www.stylecraze.com/articles/yoga-asanas-for-seniors/#Shavasana(CorpsePose)">7.Shavasana (Corpse Pose)</a>
</h5>









